/* REQUIREMENTS */

/* type selector*/
h2{
    color:DarkCyan;
}

img {

    width: 100%;
    height: auto;
}

/*class selector-anything with class attribute bold*/
.bold{
       font-weight: bold
}

.ital{
    font-style: italic;
}

/* for images from wiki. To make the credit smaller */
.extiw{
    font-size: 0.5em;
}

.col-md {
  color: orange;

/*id selector*/
#thatlink{
    color:MediumSeaGreen;
}

/*child selector-only direct children*/
#thisitem > .col-sm{
   text-decoration: underline
}

/*descendant selector-all children, grand children, great-etc.*/
/* I went to an Armenian bakery for the first time last week.  This style type choice is a tribute */

ol li {
    list-style-type: armenian;
}

/* media query */
@media only screen and (max-width: 600px) {
    body {
        background-color: DarkGray;
    }
}

/* https://www.w3schools.com/css/css_rwd_mediaqueries.asp */

