/* REQUIREMENTS */

/* type selector*/
h2{}

/*class selector-anything with class attribute emph*/
.bold{
       font-weight: bold
}

.ital{
    font-style: italic;
}

/* for images from wiki. To make the credit smaller */
.extiw{
    font-size: 0.5em;
}


/*class selector-within "table" anything with thead*/
table.thead{

}

/*id selector*/
#thislink{
    color:MediumSeaGreen;
}

/*child selector-only direct children*/
table>thead{
   text-decoration: underline
}

/*descendant selector-all children, grand children, great-etc.*/
li a {}

/* media query */

@media only screen and (max-width: 600px) {
    body {
        background-color: lightblue;
    }
}

/* https://www.w3schools.com/css/css_rwd_mediaqueries.asp */

