---
---
/* REQUIREMENTS */

/* scss variable */

$color: DeepPink;

/* scss inherintance */

  %title {
      font-family: sans-serif;
      font-size: 18px;
      font-weight: bold;
  }

  .nav-item.active{
      @extend %title;
      background-color: $color;
  }

/* scss nesting */

  body {
      font-size: 18px;
      .container {
          color: LimeGreen;
          .col-lg {
              color: $color;
          }
      }
  }
